[submodule "src/Orchard.Web/Ibn_Modules"]
	path = src/Orchard.Web/Ibn_Modules
	url = https://baruch23@bitbucket.org/baruch23/ibn-orchard-modules.git
[submodule "src/Orchard.Web/Ibn_Themes"]
	path = src/Orchard.Web/Ibn_Themes
	url = https://baruch23@bitbucket.org/baruch23/ibn-orchard_themes.git
